<!DOCTYPE html>
# include file="/templates/images.html"

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{site.tabName}}</title>
    <link rel="shortcut icon" href="img/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/media.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
      integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>


<!-- Header --> 
  <body>
    <header id="header" class="header">
      <div class="container container-lg">
        <div class="header-nav">
          <nav id="nav" class="nav">
            <ul class="nav-list" data-aos="fade-down" data-aos-duration="1000">
              <li class="nav-item">
                <a href="index.html" class="nav-link active">Home</a>
              </li>
              <li class="nav-item">
                <a href="images.html" class="nav-link">Images</a>
              </li>
            </ul>
            <button id="nav-btn" class="nav-btn">
              <img
                id="nav-btn-img"
                src="img/icons/open.svg"
                alt="Navigation button"
              />
            </button>
          </nav>
        </div>
      </div>
    </header>


<!-- Content -->    
    <section id="home" class="hero">
      <div class="container container-lg">
        <div
          class="hero-row"
          data-aos="fade-zoom-in"
          data-aos-easing="ease-in-out"
          data-aos-delay="500"
          data-aos-duration="760"
        >
          <div class="hero-content" style="padding-left: 21%;">
            <span class="hero-greeting"> An Archive for the art of</span>
            <h1 class="hero-heading">{{site.authorName}}</h1>
            <span class="hero-heading-subtitle">
              Also known as
              ArcherKill4,
              Alice
            </span>
          </div>
         
          <div class="hero-img">
            <img
              src="/img/zack.png"
              alt="Smile"
              width="700"
              style="padding-right: 50%;"
            />
          </div>
        </div>
      </div>
    </section>

    
<!-- Bottom --> 
    <footer class="footer">
      <div class="container">
        <div class="footer-row">
          <div class="footer-copyright">
            <p>&copy; Copyright {{site.authorName}} 2026</p>
          </div>
        </div>
      </div>
    </footer>


    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
      integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="module" src="js/main.js"></script>
  </body>
</html>